<div class="row">
	<div class="col-md-9">
		<h2>{{dates.selected.name}}</h2>
	</div>
	<div class="col-md-3 form-inline timePeriod">
		<label class="control-label">Term:</label>
		<select class="form-control"
			ng-options="option.name for option in dates.data track by option.name"
			ng-model="dates.selected"
			ng-change="getDocs(dates.selected.start_date, dates.selected.end_date)">
		</select>
	</div>
</div>
<div class="row" ng-repeat="(key,value) in items | orderBy:'weekOf':true | groupBy:'stringMonth'">
	<div class="col-md-2">
		<h3>{{key}}</h3>
	</div>
	<div class="panel-group col-md-10 agendalist">
		<div class="panel panel-default" ng-repeat="(k,val) in value | groupBy:'day'">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="senate/senate#{{key}}-{{k}}">{{key}} {{k}}</a>
					<a href="{{checkAgendaExistence(val)}}" class="live" ng-show="checkAgendaExistence(val)">Agenda Link</div>
				</h4>
			</div>
			<div id="{{key}}-{{k}}" class="panel-collapse collapse">
				<ul class="list-group">
					<a 	data-toggle="modal"
						data-target="#docIframe" 
						class="list-group-item" 
						ng-repeat="item in val | orderBy:'ordering'"
						ng-click="createIframe(item)"
					>
						{{item.ordering}}-{{item.title}}
					</a>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" ng-if="linkToDoc" id="docIframe">
	<a href="{{linkToDoc}}" target="_blank">Open in Window</a>
	<button type="button" class="close" ng-click="close()">&times;</button>
	<iframe ng-src="{{linkToDoc}}"></iframe>
</div>
