<div class="row" style="padding:5px;">
  <button class="col-md-6 col-md-offset-3 btn btn-default" data-toggle="modal" data-target="#takeAttendence">Take Attendance</button>
</div>
<div class="row">
  <div class="col-md-9">
    <h2>{{dates.selected.name}}</h2>
  </div>
  <div class="col-md-3 form-inline timePeriod" style="margin-top:20px;">
    <label class="control-label">Term:</label>
    <select class="form-control"
      ng-options="option.name for option in dates.data track by option.name"
      ng-model="dates.selected"
      ng-change="getAttendence(dates.selected.start_date, dates.selected.end_date)">
    </select>
  </div>
</div>
<div class="row">
  <div class="btn-group col-md-4 col-md-offset-4">
    <a ng-click="state=true" ng-class="{disabled: state}" class="btn btn-default col-md-6">Dates</a>
    <a ng-click="state=false" ng-class="{disabled: (state== 0)}"  class="btn btn-default col-md-6">Aggregates</a>
  </div>
</div>
<br/>
<div ng-if="!showAttendence" style="text-align: center;">
  No Attendance Records Yet
</div>
<div class="row" ng-if="state && showAttendence">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Date</th>
        <th>Present</th>
        <th>Absent</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, val) in dateTable" class="dates" style="cursor:pointer" ng-click="openSession(key)" data-toggle="modal" data-target="#sessionAttendence">
        <td>{{key}}</td>
        <td>{{val.present}}</td>
        <td>{{val.absent}}</td>
      </tr>
    </tbody>
  </table> 
</div>
<div class="row" ng-if="!state && showAttendence">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Attendance</th>
        <th>Absence</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(key, val) in quarterAttendence">
        <td>{{val.group}}</td>
        <td>{{key}}</td>
        <td>{{val.times.here}}</td>
        <td>{{val.times.absent}}</td>
      </tr>
    </tbody>
  </table> 
</div>
<div class="modal fade" id="takeAttendence">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Attendance: {{today}}</h4>
      </div>
      <div class="modal-body form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label">Period:</label>
          <div class="col-md-9">
            <select class="form-control" ng-model="period">
              <option>Start</option>
              <option>End</option>
            </select>
          </div>
        </div>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Group</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat= "row in users| orderBy: 'group'">
              <td>{{row.firstName}}</td>
              <td>{{row.lastName}}</td>
              <td>{{row.group}}</td>
              <td>
                <div class="btn btn-danger"
                  ng-if="row.present"
                  ng-click="row.present = false">
                  Mark Absent
                </div>
                <div class="btn btn-primary"
                  ng-if="row.present == false"
                  ng-click = "row.present = true">
                  Mark Present
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="saveAttendence()">
          Record
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="sessionAttendence">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Attendance {{selectedDate}} {{selectedPeriod}}</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Group</th>
                <th>Present</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat= "row in session| orderBy: 'group'">
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.group}}</td>
                <td>{{row.present}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
      </div>
    </div>
  </div>
</div>
