<div class="manage">
	<button class="col-md-6 col-md-offset-3 btn btn-default" data-toggle="modal" data-target="#newUser" >Add</button>
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th></th>
				<th>Netid</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Group</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat= "row in users| orderBy: 'group'">
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a  data-toggle="modal" 
									data-target="#newUser" 
									ng-click="editFocus(row)">
									Edit
								</a>
							</li>
							<li>
								<a  data-toggle="modal" 
									data-target="#deleteUser" 
									ng-click="deleteFocus(row)">
									Delete
								</a>
							</li>
							<li ng-if="row.role=='Senator' && !row.sub">
								<a  data-toggle="modal" 
									data-target="#sub" 
									ng-click="sub(row)">
									Create Substitute
								</a>
							</li>
							<li ng-if="row.role=='Senator' && row.sub">
								<a ng-click="relieve(row)">
									Relieve
								</a>
							</li>
						</ul>
					</div>
				</td>
				<td>{{row.netid}}</td>
				<td>{{row.firstName}}</td>
				<td>{{row.lastName}}</td>
				<td>{{row.email}}</td>
				<td>{{row.role}}</td>
				<td>{{row.group}}</td>
				<td>{{row.active}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal fade" id="newUser">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="form-group">
						<div class="row">
							<label class="col-md-3 control-label">Netid</label>
							<div class="col-md-9">
								<input ng-model="form.netid" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="col-md-3 control-label">Role</label>
							<div class="col-md-9">
								<select ng-options="o.v as o.n for o in [{ n: 'Senator', v: 'Senator' }, { n: 'Admin', v: 'Admin' }]" ng-model="form.role" class="form-control"></select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="col-md-3 control-label">Group</label>
							<div class="col-md-9">
								<input ng-model="form.group" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<label class="col-md-3 control-label">Active</label>
							<div class="col-md-9">
								<select ng-model="form.active" class="form-control">
									 <option value="true">True</option>
									 <option value="false">False</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearRow()">Close</button> 
				<button type="button" class="btn btn-primary" ng-click= "saveRow(form)" ng-if="!edit">Save</button>
				<button type="button" class="btn btn-warning" ng-click= "saveEdit(form)" ng-if="edit">Edit</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteUser">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					Confirming deletion "{{deletion.netid}}"
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
				<button type="button" class="btn btn-danger" ng-click="confirmDelete(deletion)">Delete</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="sub">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Substitute</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="form-horizontal">
						<div class="form-group">
						<label class="col-md-2 col-md-offset-2 control-label">Netid:</label>
						<div class="col-md-4">
							<input type="text" class="form-control" ng-model="subNetid">
						</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  
				<button type="button" class="btn btn-success" ng-click="addSub(subNetid)">Submit</button>
			</div>
		</div>
	</div>
</div>
