<div class="container home">
  <div class="login-panel col-md-4 col-md-offset-4">
    <h2>ASG Portal</h2>
    <form>
      <div class="form-group">
        <label>Role</label>
        <select class="form-control" id="select" ng-model="role">
          <option>Admin</option>
          <option>Senator</option>
        </select>
      </div>
      <button type="submit" ng-click="submit()" class="btn btn-default full-width">Login</button>
    </form>
  </div>
</div>
<form action="/logout" method="post">
  <input type="submit" name="Submit">
</form>